div.header { background-color: black; }

div.footer {
    background-color: black;
    color: white;
    padding: 40px;
}

body { font-family: "tahoma" }

a, a:hover, a:active, a:visited { color: white; }

div.main {
    margin: 0 auto;
    max-width: 950px;
    min-height: 500px;
    padding-top: 40px;
}

#indexmid { background-color: lavender; }

#indexmid a, #invitemid a {
    color: #333333;
    text-decoration: none;
}

.modal-content { margin-left: -150px; }

.panel-title { font-weight: bold; }

div.mid {
    padding: 20px;
    text-align: center;
}

p a, p a:hover, p a:active, p a:visited,
.container.main a, .container.main a:hover, .container.main a:active, .container.main a:visited {
    color: #333333;
    text-decoration: underline;
}

.mid h2 { font-weight: normal; }

div.invites { padding-bottom: 60px; }

div.invites p {
    padding-left: 15px;
    padding-right: 15px;
}

p.invitename { font-weight: bold; }

div.blurb { padding: 0; }

h3 {
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 20px;
}

img.circle {
    height: 140px;
    width: 140px;
}

div.testimonials {
    min-height: 570px;
    padding-top: 20px;
}

#logo {
    display: block;
    margin: auto;
    padding: 1em;
}

#banner {
    display: block;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 30px;
    width: 950px;
}

#headingpic {
    float: right;
    padding-top: 35px;
}

p { padding-bottom: 10px; }

.footerheading { 
	font-weight: bold;
	display:inline-block;
	padding-bottom: 10px;
}

@media (max-width: 767px) {
    img { max-width: 100%; }
	
	.toppadding { padding-top: 20px; }
	
	.footerheading { 
		text-decoration: underline;
	}
}